html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: grey;
}

.container {
  max-width: 500px;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  width: 100%;
  height: 90%;
  background-color: black;
  border-radius: 20px;
  overflow: hidden;
}

.screen {
  width: 100%;
}

.screen-input {
  width: 101%;
  height: 200px;
  padding: 40px;
  margin: 0px;
  background-color: black;
  color: white;
  font-size: 5rem;
  text-align: right;
  font-weight: 500;
  border-bottom: 2px solid rgba(255, 255, 255, 0.30);
  box-sizing: border-box;
}

.screen-input:focus{
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.30);
  box-shadow: none;
  outline: 0;
}

.teclado{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 477px;
}

.teclado-btn{
  background-color: rgb(35, 35, 35);
  border: none;
  color: white;
  font-size: 1.2rem;
}

.teclado-btn:hover{
  background-color: rgb(43, 43, 43);
}

.btn01{
  color: rgb(236, 21, 21);
}

.btn02{
  color: rgb(50, 236, 21);
}

.btn03{
  color: rgb(50, 236, 21);
}

.btn04{
  color: rgb(50, 236, 21);
}

.btn08{
  color: rgb(50, 236, 21);
}

.btn12{
  color: rgb(50, 236, 21);
}

.btn16{
  color: rgb(50, 236, 21);
}

.btn20{
  color: rgb(255, 255, 255);
  background-color: rgb(50, 236, 21);
  font-size: 2rem;
}

.btn20:hover{
  background-color: rgb(82, 248, 57);
}